<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Products</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <button onclick="window.location.href = '/';">Back</button>
<div class="jumbotron text-center">
    <h1>Add Products</h1>
</div>
    <form method="POST">
<input type='text' name='Title' placeholder="Title" required>
<input type='text' name='Description' placeholder="Description" required>
<input type='number' name='Price' placeholder="$ Price" required>
<input type='text' name='Unit' placeholder="Unit" required>
<input type='number' name='allowed-units' placeholder="allowed-units" required>
<input type='text' name='Image Link' placeholder="Image Link" required>
<input type='submit' name='Submit' placeholder="Submit" required>
</form>
</body>
</html>